.chat-content {
  width: 100%;
  padding: var(--padding-small);
  background: var(--bg-color-second);
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;

  &__header {
    height: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__header > .chat-header-nav {
    margin-left: 10px;
  }

  &__messages {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: var(--padding-small) var(--padding);
    margin-left: var(--padding);
    align-items: flex-start;
  }

  &__button {
    width: 40px;
    background-color: var(--bg-color-first);
    border: 0;
  }

  &__bottom {
    display: flex;
    flex-direction: row-reverse;
  }

  &__bottom > .chat-send-attach {
    margin-right: 10px;
  }
}

.chat-header {
  width: 100%;
  background: var(--bg-color-first);
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__name {
    color: var(--text-color-first);
    font-size: 0.9rem;
    font-weight: 400;
  }

  &__status {
    color: var(--text-color-second);
    font-size: 0.8rem;
    font-weight: 200;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
  }
}

.chat-send {
  width: 100%;
  background: var(--bg-color-first);
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;

  &__input {
    padding: 0 var(--padding-small);
    border: 0;
  }
}
