<div class="chat-profile">
  <div class='chat-profile__avatar'>
    <img class='chat-profile__avatar-img' src='{{ avatar }}' alt='avatar1' />
  </div>
  <div class='chat-profile__details'>
    <span class='chat-profile__name'>Kesha</span>
    <span class='chat-profile__email'>kesha@mes.com</span>
    <a href="/profile-edit" class='chat-profile__edit'>
      <button class='button button_style_icon'>
        <img src='{{ iconAccount }}' alt='account-menu-button' class='account-menu__icon' />Профиль
      </button>
    </a>
  </div>
</div>