<div class="chat-profile">
  <div class="chat-profile__avatar">
    <img class="chat-profile__avatar-img" src="{{ avatar }}" alt="avatar1" />
  </div>
  <div class="chat-profile__details">
    <span class="chat-profile__name">Kesha</span>
    <span class="chat-profile__email">kesha@mes.com</span>
    <button class="button chat-profile__edit">Профиль</button>
  </div>
</div>