.chat-sidebar {
  width: 400px;
  min-width: auto;
  padding: var(--padding-small);
  background: var(--bg-color-first);
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  &__top {
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    margin-bottom: 25px;
  }
}
