.chat-message {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-first);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 50px;
  padding-right: 60px;
  &__message {
    margin: 0;
    color: var(--text-color-first);
    font-size: 0.9rem;
    font-weight: 400;
    display: flex;
  }

  &__time {
    position: absolute;
    bottom: 8px;
    right: 12px;
    color: var(--text-color-second);
    font-size: 0.8rem;
    font-weight: 200;
  }

  &__avatar {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
  }
  &__attach-photo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__photo {
    width: 100%;
    border-radius: 20px;
  }

  &__photo-desc {
    width: 100%;
    color: var(--text-color-first);
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
  }
  &_style_my {
    background-color: var(--bg-color-third);
    transform: translateX(-5%);
    & .chat-message__time {
      color: var(--text-color-first);
    }
  }
}
