.chat-send {
  width: 100%;
  background: var(--bg-color-first);
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  &__input {
    padding: 0 var(--padding-small);
  }
}
