.button {
  width: 100%;
  max-width: 280px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--bg-color-fifth);
  color: var(--text-color-first);
  font-size: 1em;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 20px;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0%;
    height: 100%;
    transform: translateY(-50%);
    z-index: -1;
    border-radius: 50px 120% 120% 50px;
    opacity: 0;
    background-color: var(--bg-color-third);
    transition: opacity 0.3s, width 0.3s, background-color 0.4s;
    filter: blur(3px);
  }

  &:hover::after {
    width: 100%;
    background-color: var(--bg-color-second);
    opacity: 1;
  }

  &.button_style_onlytext {
    font-size: 0.875rem;
    width: auto;
    height: auto;
    border: 0;
    color: var(--text-color-first);
    padding: 0;
  }

  &.button_style_submit {
    background: var(--bg-color-fifth);
  }

  &.button_style_change_avatar {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    border: 0;
    color: transparent;

    &:hover {
      opacity: 1;
      color: var(--text-color-first);

      & .icon_change-avatar {
        transform: scale(1.3);
        opacity: 1;
      }
    }

    &:hover::after {
      opacity: 0.8;
      border-radius: 50%;
    }
  }

  &.button_style_nav-toggle {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 0;
    color: transparent;
    background-image: url('../../../images/icons/icon__nav-toggle.svg');
    background-position: center;
    background-repeat: no-repeat;
  }

  &.button_style_icon {
    font-size: 0.875rem;
    border: 0;
    border-radius: 0;
    color: var(--text-color-first);
    padding-left: 0;
    padding-right: 10px;
    margin: 20px 0;
    justify-content: flex-start;
    width: fit-content;
  }

  &.button_style_plus {
    width: 30px;
    height: 30px;
    padding: 0;
    background: var(--bg-color-fifth);
    padding-right: 0;
    border: 0;
    overflow: hidden;
  }

  &.button_style_size_s {
    width: 150px;
  }

  &.button_style_nav {
    margin: 0;
  }

  &.button_style_bg {
    background-color: var(--bg-color-first);
  }

  &.button_style_icon img {
    height: 20px;
    margin-right: 15px;
  }
}
