<div class="chat">
  <div class='chat-sidebar' data-element="Sidebar">
    <div class='chat-sidebar__top'>
      <a class='button button_style_onlytext' data-element="NavToggle">
        <img src='{{iconToggleNav}}' alt='account-menu-button' class='account-menu__icon' />
      </a>
      <a>
        <a class='button button_style_onlytext'>
          <img src='{{iconSearch}}' alt='account-menu-button' class='account-menu__icon' />
        </a>
      </a>
    </div>
    {{{ ChatsList }}}
  </div>
  {{{ ChatContent }}}
</div>