{{#> main page=pages.chat}}
<div class='chat-sidebar'>
    <div class='chat-sidebar__top'>
        <a href="./profile.hbs">
            <button class='button button_style_onlytext'>
                <img src='../images/icons/icon__toggle-nav.svg' alt='account-menu-button' class='account-menu__icon' />
            </button>
        </a>
        <a href="./error404.hbs">
            <button class='button button_style_onlytext'>
                <img src='../images/icons/icon__search.svg' alt='account-menu-button' class='account-menu__icon' />
            </button>
        </a>
    </div>
    <ul class='chats-list' data-commponent='chats-list'>
        {{#each data.chats}}
        <li class='chat-item chats-list__item'>
            <a href='./error404.hbs' class='chat-item__link'>
                <div class='chat-item__avatar'>
                    <img class='chat-item__avatar-img' src='../images/avatars/avatar4.png' alt='avatar1' />
                </div>
                <div class='chat-item__details'>
                    <span class='chat-item__name'>{{name}}</span>
                    <span class='chat-item__short-message'>{{lastMessage}}</span>
                    <span class='chat-item__time'>{{data}}</span>
                    <span class='chat-item__count-new-message'>{{newMassages}}</span>
                </div>
            </a>
            <span class="chat-item_hover-effect"></span>
        </li>
        {{/each}}
    </ul>
</div>
{{> chat-content}}
{{/main}}