{{#> main page=pages.error404}}
<div class="error">
  <div class='error__details'>
    <span class='error__title'>404</span>
    <span class='error__desc'>Не туда попали</span>
    <a href="./chats.hbs">
      <button class='button button_style_bg'>
        Назад к чатам
      </button>
    </a>
  </div>
</div>
{{/main}}