{{#> main page=pages.profile-edit}}
<div class='chat-sidebar'>
  <div class='chat-sidebar__top'>
    <a href="./chats.hbs">
      <button class='button button_style_onlytext'>
        <img src='../images/icons/icon__toggle-nav.svg' alt='account-menu-button' class='account-menu__icon' />
      </button>
    </a>
    <a href="./error404.hbs">
      <button class='button button_style_onlytext'>
        <img src='../images/icons/icon__search.svg' alt='account-menu-button' class='account-menu__icon' />
      </button>
    </a>
  </div>
  <div class="chat-profile">
    <div class='chat-profile__avatar'>
      <img class='chat-profile__avatar-img' src='../images/avatars/avatar5.png' alt='avatar1' />
    </div>
    <div class='chat-profile__details'>
      <span class='chat-profile__name'>Kesha</span>
      <span class='chat-profile__email'>kesha@mes.com</span>
    </div>
  </div>
  <form action="" class="form">
    <div class="form__top">
      <img src="../images/icons/icon__account.svg" alt="account" class="registration-form__icon">
    </div>
    <div class="form__content-row form__content-row_direction_row">
      <div class="form__content-col form__content-col_margin_right">
        {{> input
        name='email'
        label='Почта'
        type='text'
        placeholder='...'
        class='form__input-wrap'
        }}
        {{> input
        name='login'
        label='Логин'
        type='text'
        placeholder='...'
        class='form__input-wrap'
        }}
        {{> input
        name='password'
        label='Пароль'
        type='password'
        placeholder='...'
        class='form__input-wrap'
        }}
      </div>
      <div class="form__content-col form__content-col_margin_left">
        {{> input
        name='first_name'
        label='Имя'
        type='text'
        placeholder='...'
        class='form__input-wrap'
        }}
        {{> input
        name='second_name'
        label='Фамилия'
        type='text'
        placeholder='...'
        class='form__input-wrap'
        }}
        {{> input
        name='phone'
        label='Телефон'
        type='text'
        placeholder='...'
        class='form__input-wrap'
        }}
      </div>
    </div>
</div>
</form>
</div>

{{> chat-content}}
{{/main}}