<div class='chat-content'>
  <div class='chat-content__header'>
    <div class="chat-header">
      <div class='chat-header__avatar'>
        <img class='chat-header__avatar-img' src='../images/avatars/avatar4.png' alt='avatar1' />
      </div>
      <div class='chat-header__details'>
        <span class='chat-header__name'>Parrotellow</span>
        <span class='chat-header__status'>Online</span>
      </div>
    </div>
    <div class="chat-header-nav">
      <button class='button chat-content__button'>
        <img src='../images/icons/icon__more.svg' alt='account-menu-button' class='' />
      </button>
    </div>
  </div>
  <div class='chat-content__messages'>
    {{#each data.messages}}
    <div class='chat-message chat-message_style_{{#if type}}my{{else}}user{{/if}}'>
      <div class='chat-message__avatar'>
        <img class='chat-message__avatar-img' src={{avatar}} alt='avatar1' />
      </div>
      <p class='chat-message__message'>{{text}}</p>
      <span class='chat-message__time'>{{data}}</span>
    </div>
    {{/each}}
  </div>
  <div class='chat-content__bottom'>
    <div class="chat-send">
      <input type='text' name="message" placeholder='Введите сообщение ...' class='input chat-send__input' />
    </div>
    <div class="chat-send-attach">
      <button class='button chat-content__button'>
        <img src='../images/icons/icon__attach.svg' alt='account-menu-button' class='' />
      </button>
    </div>

  </div>
</div>