<div class="error">
  <div class="error__details">
    <span class="error__title">404</span>
    <span class="error__desc">Тут пока ничего нет ^_^</span>
    <a href="/chats" class="button button_style_bg">Назад к чатам</a>
  </div>
</div>