<div class="messenger">
  <div class="messenger__sidebar">
    <div class="messenger__sidebar-nav">
      {{{ ButtonNavToggle }}}
    </div>
    <div class="messenger__sidebar-content" data-element="sidebar-content">
      {{{ ChatsList }}}
    </div>
  </div>
  <div class="messenger__chat">
    {{{ Chat }}}
  </div>
</div>