<div class="chat-add-users">
  <form name="chat-add-users" class="chat-add-users__form">
    <span class="chat-add-users__icon icon icon_settings"></span>
    {{{ InputAddUser }}}
    {{{ ButtonAddUser }}}
  </form>
</div>